* {
  font-family: Poppins;
}
.underline:hover {
  text-decoration: underline;
}
.large-font {
  font-size: 1.5rem;
}
.xlarge-font {
  font-size: 3rem;
}
.bg-image {
  background-image: url("../public/image.png");
  background-repeat: no-repeat;
  background-size: contain;
  color: #0b5570;
}
.bg-blue {
  background-color: #0b5570 !important;
}
.bg-blur {
  background-color: hsla(0, 0%, 70%, 0.7);
  margin-top: 30vh;
  padding-bottom: 5%;
}
.pb-large {
  padding-bottom: 25%;
}
.text-blue {
  color: #0b5570 !important;
}
.text-bold {
  font-weight: 500 !important;
}
.btn-primary {
  --bs-btn-bg: #0b5570 !important;
}
.text-orange {
  color: #fd9900 !important;
}
.btn-warning {
  --bs-btn-bg: #fd9900 !important;
}
.line {
  background-color: #0b5570 !important;
  height: 5px;
  width: 17%;
  margin-bottom: 10px;
  margin-top: -30px;
}
.caret {
  font-size: 250%;
  margin-top: 75%;
}
.team {
  font-size: 800%;
}

.signup-login-layout {
  padding: 70px 400px;
}

.signup-login-box {
  box-shadow: 0px 0px 10px 0px #0b55704d;
  padding: 48px 150px;
}

.signup-login-btn {
  background-color: none;
  border: none;
  text-decoration: underline;
  text-transform: uppercase;
}
.nav-link:hover {
  color: gray !important;
}
.nav-link img:hover {
  opacity: 0.5;
}
